.componentItem {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 50px 0;
  width: 100%;
}

.recipesImg {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  transition-duration: 0.2s;
  width: 80%;
}

.recipesImg:hover {
  background-color: whitesmoke;
  width: 82%;
}

.recipesImg img {
  border-radius: 4px;
  transition-duration: 0.2s;

}

.listItems {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-bottom: 10px;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.categories button {
  border-radius: 4px;
  color: white;
  height: 50px;
  width: 120px;
}
